body.light-theme {
    background-color: #ffffff;
}

body.dark-theme {
    background-color: #404040;
    color: beige;
    border-color: beige;
}

a {
    color: inherit;
    text-decoration: none;
}