.border {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6px;

    border: 2px solid #1a1a1aff;
    margin-bottom: 12px;
    padding: 12px 25px;
    min-width: fit-content;
    width: 40%;
}

.navMenu {
    flex-direction: row;
}

.navMenu a {
    font-size: 120%;
}